@import "https://fonts.googleapis.com/css?family=Oswald";

body {
  margin: 10px 0;
  background: url(../images/ape.jpg) bottom center;
  background-size: 41%;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  /*background: linear-gradient(to left, #fd746c, #ff9068);*/
  font-family: 'Oswald', sans-serif;
}

h1 {
  color: #fff;
  font-size: 2.5em;
  letter-spacing: 6px;
  text-align: center;
  text-shadow: 1px 1px 2px black;

}

.pad {
  align-self: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
}

.box {

  width: 80%;
  height: 75px;
  margin: 20px;
  box-shadow: 0 8px 11px -6px #423a3a;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.box:hover {
  background-color: #5e5e5e;
  cursor: pointer;
}
.box:active {
  background-color: #000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.active {
  background-color: #000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .2s;
  transition: all .2s;
}


p {
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    margin: 20px;
}
